In [38]:
import numpy as np
import pandas as pd

In [39]:
from google.colab import files
uploaded = files.upload()  # This will prompt to upload a file

import pandas as pd
df = pd.read_csv('train.csv')

Saving train.csv to train (3).csv

In [40]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [41]:
df.shape

(5847, 14)

In [42]:
df.columns

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'New_Price', 'Price'],
      dtype='object')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

a) Look for the missing values in all the columns and either impute them (replace with mean, median, or mode) or drop them. Justify your action for this task.

In [44]:
# Checking for missing values in each column
missing_values = df.isnull().sum()
print("Missing values per column:\n", missing_values)

Missing values per column:
 Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [45]:
import pandas as pd

# Dropping 'New_Price' column because it has too many missing values
df = df.drop(columns=['New_Price'])

# Converting 'Engine' and 'Power' columns to string to remove non-numeric characters
df['Engine'] = df['Engine'].astype(str)
df['Power'] = df['Power'].astype(str)

# Keeping units intact by replacing only non-numeric characters
df['Engine'] = df['Engine'].str.extract('(\d+)', expand=False)  # Keep the numeric part
df['Power'] = df['Power'].str.extract('(\d+(\.\d+)?)', expand=False)[0]  # Keep the numeric part

# Now converting columns to numeric values
df['Engine'] = pd.to_numeric(df['Engine'], errors='coerce')
df['Power'] = pd.to_numeric(df['Power'], errors='coerce')

# Impute missing values
df['Engine'] = df['Engine'].fillna(df['Engine'].median())  # Median for 'Engine'
df['Power'] = df['Power'].fillna(df['Power'].median())      # Median for 'Power'
df['Seats'] = df['Seats'].fillna(df['Seats'].mode()[0])     # Mode for 'Seats'

# Checking unique values in the 'Mileage' column to diagnose missing values
print("Unique values in 'Mileage' before processing:")
print(df['Mileage'].unique())

# Cleaning the 'Mileage' column while keeping units
df['Mileage'] = df['Mileage'].astype(str).str.replace(' kmpl', '', regex=False)  # Adjust this based on your data
df['Mileage'] = df['Mileage'].str.extract('(\d+(\.\d+)?)', expand=False)[0]

# Converting 'Mileage' to numeric, handling errors
df['Mileage'] = pd.to_numeric(df['Mileage'], errors='coerce')

# Impute missing values in 'Mileage' with the median
df['Mileage'] = df['Mileage'].fillna(df['Mileage'].median())

# Step 10: Check for remaining missing values after all operations
remaining_missing = df.isnull().sum()

# Step 11: Display the modified DataFrame and remaining missing values
print(df.head())
print("\nRemaining Missing Values After Imputation in df:\n", remaining_missing)

Unique values in 'Mileage' before processing:
['19.67 kmpl' '13 km/kg' '20.77 kmpl' '15.2 kmpl' '23.08 kmpl'
 '11.36 kmpl' '20.54 kmpl' '22.3 kmpl' '21.56 kmpl' '16.8 kmpl'
 '25.2 kmpl' '12.7 kmpl' '0.0 kmpl' '13.5 kmpl' '25.8 kmpl' '28.4 kmpl'
 '20.45 kmpl' '14.84 kmpl' '22.69 kmpl' '23.65 kmpl' '13.53 kmpl'
 '18.5 kmpl' '14.4 kmpl' '16.48 km/kg' '20.92 kmpl' '17.5 kmpl'
 '12.8 kmpl' '19.01 kmpl' '14.53 kmpl' '11.18 kmpl' '12.4 kmpl'
 '16.09 kmpl' '14.0 kmpl' '24.3 kmpl' '18.15 kmpl' '11.74 kmpl'
 '22.07 kmpl' '19.7 kmpl' '25.4 kmpl' '25.32 kmpl' '14.62 kmpl'
 '14.28 kmpl' '14.9 kmpl' '11.25 kmpl' '24.4 kmpl' '16.55 kmpl'
 '17.11 kmpl' '22.9 kmpl' '17.8 kmpl' '18.9 kmpl' '15.04 kmpl'
 '25.17 kmpl' '20.36 kmpl' '9.49 km/kg' '18.2 kmpl' '13.68 kmpl'
 '20.0 kmpl' '15.8 kmpl' '25.0 kmpl' '16.4 kmpl' '24.52 kmpl' '22.1 kmpl'
 '8.5 kmpl' '15.1 kmpl' '16.95 kmpl' '19.64 kmpl' '16.5 kmpl' '18.53 kmpl'
 '17.57 kmpl' '18.0 kmpl' '23.2 kmpl' '16.73 kmpl' '13.0 kmpl'
 '17.68 kmpl' '22.7 kmpl' '16.2 kmpl' '15.26 kmpl' '23.0 kmpl'
 '19.83 kmpl' '14.94 kmpl' '17.0 kmpl' '17.71 kmpl' '14.74 kmpl'
 '16.0 kmpl' '22.32 kmpl' '12.99 kmpl' '23.3 kmpl' '19.15 kmpl'
 '10.8 kmpl' '15.0 kmpl' '22.0 kmpl' '21.9 kmpl' '12.05 kmpl' '11.7 kmpl'
 '21.21 kmpl' '20.73 kmpl' '21.1 kmpl' '24.07 kmpl' '19.0 kmpl'
 '20.58 kmpl' '19.27 kmpl' '11.5 kmpl' '18.6 kmpl' '21.14 kmpl'
 '11.05 kmpl' '21.76 kmpl' '7.81 kmpl' '21.66 kmpl' '17.2 kmpl'
 '20.63 kmpl' '19.4 kmpl' '14.8 kmpl' '26.0 kmpl' '20.4 kmpl' '21.5 kmpl'
 '15.3 kmpl' '17.9 kmpl' '16.6 kmpl' '22.54 kmpl' '25.44 kmpl' '13.7 kmpl'
 '22.48 kmpl' '12.9 kmpl' '19.98 kmpl' '21.4 kmpl' '19.81 kmpl'
 '15.4 kmpl' '25.47 kmpl' '19.87 kmpl' '17.45 kmpl' '14.7 kmpl'
 '15.64 kmpl' '15.73 kmpl' '23.59 kmpl' '16.1 kmpl' '27.4 kmpl'
 '20.46 kmpl' '15.29 kmpl' '20.51 kmpl' '11.8 kmpl' '14.3 kmpl'
 '14.67 kmpl' '17.19 kmpl' '21.03 kmpl' '22.5 kmpl' '16.82 kmpl'
 '11.72 kmpl' '17.4 kmpl' '17.05 kmpl' '24.0 kmpl' '28.09 kmpl'
 '20.5 kmpl' '13.1 kmpl' '19.91 kmpl' '18.7 kmpl' '16.38 kmpl'
 '11.57 kmpl' '17.3 kmpl' '22.95 kmpl' '18.88 kmpl' '23.4 kmpl'
 '22.74 kmpl' '12.07 kmpl' '17.1 kmpl' '18.48 kmpl' '16.47 kmpl'
 '23.1 kmpl' '14.07 kmpl' '16.02 kmpl' '19.3 kmpl' '17.7 kmpl' '9.52 kmpl'
 '14.75 kmpl' '11.3 kmpl' '21.12 kmpl' '21.02 kmpl' '14.45 kmpl'
 '19.33 kmpl' '13.8 kmpl' '24.7 kmpl' '11.0 kmpl' '11.07 kmpl'
 '21.43 kmpl' '14.21 kmpl' '18.86 kmpl' '16.07 kmpl' '13.49 kmpl'
 '20.38 kmpl' '12.0 kmpl' '17.01 kmpl' '13.2 kmpl' '20.37 kmpl'
 '15.96 kmpl' '14.16 kmpl' '13.17 kmpl' '27.62 kmpl' '25.1 kmpl'
 '15.17 kmpl' '11.33 kmpl' '17.92 kmpl' '12.55 kmpl' '12.6 kmpl'
 '17.72 kmpl' '18.16 kmpl' '15.68 kmpl' '15.5 kmpl' '12.1 kmpl'
 '14.83 kmpl' '17.6 kmpl' '14.6 kmpl' '14.66 kmpl' '10.93 kmpl'
 '20.68 kmpl' '9.9 kmpl' '21.13 kmpl' '20.14 kmpl' '19.2 kmpl' '27.3 kmpl'
 '16.36 kmpl' '26.59 kmpl' '12.5 kmpl' '13.6 kmpl' '15.06 kmpl'
 '10.13 kmpl' '17.21 kmpl' '15.97 kmpl' '10.5 kmpl' '14.69 kmpl'
 '23.9 kmpl' '19.1 kmpl' '21.27 kmpl' '15.9 kmpl' '20.7 kmpl' '14.1 kmpl'
 '20.89 kmpl' '18.12 kmpl' '12.3 kmpl' '19.71 kmpl' '9.43 kmpl'
 '13.4 kmpl' '13.14 kmpl' '18.1 kmpl' '22.77 kmpl' '14.49 kmpl'
 '12.39 kmpl' '10.91 kmpl' '20.85 kmpl' '15.63 kmpl' '27.39 kmpl'
 '18.3 kmpl' '16.78 kmpl' '25.5 kmpl' '10.0 kmpl' '13.73 kmpl' '24.2 kmpl'
 '14.02 kmpl' '16.77 kmpl' '24.5 kmpl' '20.34 kmpl' '21.7 kmpl' '9.7 kmpl'
 '14.33 kmpl' '21.64 kmpl' '19.16 kmpl' '16.93 kmpl' '16.3 kmpl'
 '12.62 kmpl' '20.64 kmpl' '14.24 kmpl' '18.06 kmpl' '10.2 kmpl'
 '10.1 kmpl' '18.25 kmpl' '13.93 kmpl' '25.83 kmpl' '8.6 kmpl'
 '13.24 kmpl' '17.09 kmpl' '23.84 kmpl' '8.45 kmpl' '19.6 kmpl'
 '19.5 kmpl' '20.3 kmpl' '16.05 kmpl' '11.2 kmpl' '27.03 kmpl'
 '18.78 kmpl' '12.35 kmpl' '14.59 kmpl' '17.32 kmpl' '14.95 kmpl'
 '13.22 kmpl' '23.03 kmpl' '15.6 kmpl' '19.12 kmpl' '10.98 kmpl'
 '16.46 kmpl' '18.4 kmpl' '11.1 kmpl' '13.01 kmpl' '18.8 kmpl'
 '16.52 kmpl' '18.44 kmpl' '19.49 kmpl' '23.5 kmpl' '23.8 kmpl'
 '12.65 kmpl' '20.65 kmpl' '21.72 kmpl' '12.19 kmpl' '26.1 kmpl'
 '18.33 kmpl' '12.81 kmpl' '17.06 kmpl' '17.67 kmpl' '19.34 kmpl'
 '8.3 kmpl' '16.96 kmpl' '11.79 kmpl' '20.86 kmpl' '16.98 kmpl'
 '11.68 kmpl' '15.74 kmpl' '15.7 kmpl' '18.49 kmpl' '10.9 kmpl'
 '19.59 kmpl' '11.4 kmpl' '13.06 kmpl' '21.0 kmpl' '15.15 kmpl'
 '16.9 kmpl' '18.23 kmpl' '17.16 kmpl' '17.43 kmpl' '19.08 kmpl'
 '18.56 kmpl' '11.9 kmpl' '21.79 kmpl' '12.95 kmpl' '9.0 kmpl' '25.6 kmpl'
 '26.21 kmpl' '13.58 kmpl' '16.25 kmpl' '10.4 kmpl' '17.44 kmpl'
 '22.71 kmpl' '17.54 kmpl' '15.87 kmpl' '9.5 kmpl' '11.56 kmpl'
 '14.39 kmpl' '19.09 kmpl' '17.85 kmpl' '18.18 kmpl' '21.19 kmpl'
 '21.8 kmpl' '15.42 kmpl' '14.47 kmpl' '19.69 kmpl' '12.83 kmpl'
 '8.0 kmpl' '12.63 kmpl' '14.57 kmpl' '27.28 kmpl' '15.41 kmpl'
 '18.19 kmpl' '13.33 kmpl' '16.7 kmpl' '17.84 kmpl' '23.19 kmpl'
 '11.49 kmpl' '18.51 kmpl' '13.44 kmpl' '8.7 kmpl' '8.77 kmpl'
 '17.97 kmpl' '23.57 kmpl' '12.37 kmpl' '12.51 kmpl' '19.44 kmpl'
 '21.38 kmpl' '16.51 kmpl' '24.8 kmpl' '14.42 kmpl' '26.8 kmpl'
 '24.04 kmpl' '9.8 kmpl' '19.68 kmpl' '21.2 kmpl' '19.72 kmpl' '14.2 kmpl'
 '12.98 kmpl' '23.01 kmpl' '16.12 kmpl' '9.3 kmpl' '15.85 kmpl' nan
 '17.88 kmpl' '10.6 kmpl' '11.78 kmpl' '7.94 kmpl' '25.01 kmpl' '8.1 kmpl'
 '13.9 kmpl' '11.62 kmpl' '20.62 kmpl' '15.11 kmpl' '10.37 kmpl'
 '18.59 kmpl' '9.74 kmpl' '14.81 kmpl' '8.2 kmpl' '12.97 kmpl' '7.5 kmpl'
 '6.4 kmpl' '12.85 kmpl' '18.69 kmpl' '17.24 kmpl']
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0              41000    Diesel       Manual      First    19.67  1582.0
1              46000    Petrol       Manual      First    13.00  1199.0
2              87000    Diesel       Manual      First    20.77  1248.0
3              40670    Diesel    Automatic     Second    15.20  1968.0
4              86999    Diesel       Manual      First    23.08  1461.0

    Power  Seats  Price
0  126.20    5.0  12.50
1   88.70    5.0   4.50
2   88.76    7.0   6.00
3  140.80    5.0  17.74
4   63.10    5.0   3.50

Remaining Missing Values After Imputation in df:
 Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

I removed the "New_Price" column because it contained around 85% missing values, making it unreliable for analysis. For the "Engine," "Mileage," and "Power" columns, I used the median to fill missing values, as all three distributions are positively skewed and asymmetrical. This positive skewness indicates a higher concentration of lower values on the left side, with a gradual decline toward higher values, likely due to most cars experiencing a reduction in engine performance, mileage, and power ratings after a certain amount of usage. For the "Seats" column, I used the mode to fill in missing values, as the dataset predominantly includes cars with 5 seats, making the mode a suitable choice to represent typical seating.

b) Remove the units from some of the attributes and only keep the numerical values (for example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from “New_price”).

In [46]:
# Removing 'kmpl' from 'Mileage' and convert to numeric
df['Mileage'] = df['Mileage'].astype(str).str.replace(' kmpl', '', regex=False)
df['Mileage'] = pd.to_numeric(df['Mileage'], errors='coerce')

# Removing 'CC' from 'Engine' and convert to numeric
df['Engine'] = df['Engine'].astype(str).str.replace(' CC', '', regex=False)
df['Engine'] = pd.to_numeric(df['Engine'], errors='coerce')

# Removing 'bhp' from 'Power' and convert to numeric
df['Power'] = df['Power'].astype(str).str.replace(' bhp', '', regex=False)
df['Power'] = pd.to_numeric(df['Power'], errors='coerce')

# Displaying the results to verify
print(df[['Mileage', 'Engine', 'Power']].head())

   Mileage  Engine   Power
0    19.67  1582.0  126.20
1    13.00  1199.0   88.70
2    20.77  1248.0   88.76
3    15.20  1968.0  140.80
4    23.08  1461.0   63.10

In [47]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value. (4 points).

In [48]:
# Replacing the categorical values with the numeric equivalents that we have above
categoricalFeatures = ['Fuel_Type', 'Transmission']

# Iterate through the list of categorical features and one hot encode them.
for feature in categoricalFeatures:
    onehot = pd.get_dummies(df[feature], prefix=feature)
    df = df.drop(feature, axis=1)
    df = df.join(onehot)

In [49]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,True,False,False,False,True
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,False,False,True,False,True
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,True,False,False,False,True
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,True,False,False,True,False
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,True,False,False,False,True

D) Create one more feature and add this column to the dataset (you can use mutate function in R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year.

In [50]:
from datetime import datetime

# Calculate the current age of the car
current_year = datetime.now().year
df['Car_Age'] = current_year - df['Year']

# Display the result to verify the new column
print(df[['Year', 'Car_Age']].head())

   Year  Car_Age
0  2015        9
1  2011       13
2  2012       12
3  2013       11
4  2013       11

In [51]:
# Calculate the average mileage per year, with handling for zero age cases
df['Mileage_per_Year'] = df.apply(lambda row: row['Kilometers_Driven'] / row['Car_Age']
                                  if row['Car_Age'] > 0 else row['Kilometers_Driven'], axis=1)

df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age,Mileage_per_Year
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,True,False,False,False,True,9,4555.555556
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,False,False,True,False,True,13,3538.461538
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,True,False,False,False,True,12,7250.000000
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,True,False,False,True,False,11,3697.272727
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,True,False,False,False,True,11,7909.000000

The code calculates a new feature called Mileage per Year, which represents the average number of kilometers a car has been driven each year since it was manufactured.

e) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or their equivalent operations in python) on this dataset.

In [52]:
df.columns

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'Price',
       'Fuel_Type_Diesel', 'Fuel_Type_Electric', 'Fuel_Type_Petrol',
       'Transmission_Automatic', 'Transmission_Manual', 'Car_Age',
       'Mileage_per_Year'],
      dtype='object')

In [53]:

# 1. Select Specific Columns
# Let's select the columns: 'Name', 'Year', 'Kilometers_Driven', 'Fuel_Type_Diesel', and 'Price'
df_selected = df[['Name', 'Year', 'Kilometers_Driven', 'Fuel_Type_Diesel', 'Price']]

# 2. Filter Rows Based on a Condition
# Filter for rows where the car is diesel and has a price above a certain value, say 5 lakhs
df_filtered = df[(df['Fuel_Type_Diesel'] == 1) & (df['Price'] > 5)]

# 3. Rename Columns
# Rename 'Kilometers_Driven' to 'KmDriven' and 'Owner_Type' to 'OwnerType'
df_renamed = df.rename(columns={'Kilometers_Driven': 'KmDriven', 'Owner_Type': 'OwnerType'})

# 4. Mutate (Create or Modify Columns)
# Add a new column 'Price_per_Km' which calculates the price per kilometer driven
df['Price_per_Km'] = df['Price'] / df['Kilometers_Driven']

# 5. Arrange (Sort Rows)
# Sort by 'Year' in descending order
df_sorted = df.sort_values(by='Year', ascending=False)

# 6. Summarize with Group By
# Group by 'Fuel_Type_Diesel' and find the average price and average mileage
df_summary = df.groupby('Fuel_Type_Diesel').agg(
    Avg_Price=('Price', 'mean'),
    Avg_Mileage=('Mileage', 'mean')
).reset_index()

# Displaying results
print("Selected Columns:\n", df_selected.head())
print("\nFiltered Data:\n", df_filtered.head())
print("\nRenamed Columns:\n", df_renamed.head())
print("\nNew Column (Price_per_Km):\n", df[['Price', 'Kilometers_Driven', 'Price_per_Km']].head())
print("\nSorted by Year Descending:\n", df_sorted.head())
print("\nSummary (Average Price and Mileage by Diesel Fuel Type):\n", df_summary)

Selected Columns:
                                Name  Year  Kilometers_Driven  \
0  Hyundai Creta 1.6 CRDi SX Option  2015              41000
1                      Honda Jazz V  2011              46000
2                 Maruti Ertiga VDI  2012              87000
3   Audi A4 New 2.0 TDI Multitronic  2013              40670
4            Nissan Micra Diesel XV  2013              86999

   Fuel_Type_Diesel  Price
0              True  12.50
1             False   4.50
2              True   6.00
3              True  17.74
4              True   3.50

Filtered Data:
    Unnamed: 0                                 Name    Location  Year  \
0           1     Hyundai Creta 1.6 CRDi SX Option        Pune  2015
2           3                    Maruti Ertiga VDI     Chennai  2012
3           4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
5           7    Toyota Innova Crysta 2.8 GX AT 8S      Mumbai  2016
6           8  Volkswagen Vento Diesel Comfortline        Pune  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
5              36000      First    11.36  2755.0  171.50    8.0  17.50
6              64430      First    20.54  1598.0  103.60    5.0   5.20

   Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0              True               False             False
2              True               False             False
3              True               False             False
5              True               False             False
6              True               False             False

   Transmission_Automatic  Transmission_Manual  Car_Age  Mileage_per_Year
0                   False                 True        9       4555.555556
2                   False                 True       12       7250.000000
3                    True                False       11       3697.272727
5                    True                False        8       4500.000000
6                   False                 True       11       5857.272727

Renamed Columns:
    Unnamed: 0                              Name    Location  Year  KmDriven  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015     41000
1           2                      Honda Jazz V     Chennai  2011     46000
2           3                 Maruti Ertiga VDI     Chennai  2012     87000
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013     40670
4           6            Nissan Micra Diesel XV      Jaipur  2013     86999

  OwnerType  Mileage  Engine   Power  Seats  Price  Fuel_Type_Diesel  \
0     First    19.67  1582.0  126.20    5.0  12.50              True
1     First    13.00  1199.0   88.70    5.0   4.50             False
2     First    20.77  1248.0   88.76    7.0   6.00              True
3    Second    15.20  1968.0  140.80    5.0  17.74              True
4     First    23.08  1461.0   63.10    5.0   3.50              True

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Automatic  \
0               False             False                   False
1               False              True                   False
2               False             False                   False
3               False             False                    True
4               False             False                   False

   Transmission_Manual  Car_Age  Mileage_per_Year
0                 True        9       4555.555556
1                 True       13       3538.461538
2                 True       12       7250.000000
3                False       11       3697.272727
4                 True       11       7909.000000

New Column (Price_per_Km):
    Price  Kilometers_Driven  Price_per_Km
0  12.50              41000      0.000305
1   4.50              46000      0.000098
2   6.00              87000      0.000069
3  17.74              40670      0.000436
4   3.50              86999      0.000040

Sorted by Year Descending:
       Unnamed: 0                             Name    Location  Year  \
5405        5560        Renault KWID RXT Optional       Kochi  2019
942          975  Ford Endeavour 2.2 Trend AT 4X2       Kochi  2019
5533        5690        Maruti Omni 5 Seater BSIV  Coimbatore  2019
770          796            Mahindra XUV500 W9 AT  Coimbatore  2019
4267        4399       Maruti Swift Dzire AMT ZDI     Chennai  2019

      Kilometers_Driven Owner_Type  Mileage  Engine  Power  Seats  Price  \
5405               6568      First    25.17   799.0   53.3    5.0   5.09
942               11209      First    12.62  2198.0  158.0    7.0  31.15
5533               4721      First    14.00   796.0   35.0    5.0   4.11
770               19654      First    14.00  2179.0  155.0    7.0  17.63
4267              65000      First    26.59  1248.0   74.0    5.0   6.75

      Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
5405             False               False              True
942               True               False             False
5533             False               False              True
770               True               False             False
4267              True               False             False

      Transmission_Automatic  Transmission_Manual  Car_Age  Mileage_per_Year  \
5405                   False                 True        5            1313.6
942                     True                False        5            2241.8
5533                   False                 True        5             944.2
770                     True                False        5            3930.8
4267                    True                False        5           13000.0

      Price_per_Km
5405      0.000775
942       0.002779
5533      0.000871
770       0.000897
4267      0.000104

Summary (Average Price and Mileage by Diesel Fuel Type):
    Fuel_Type_Diesel  Avg_Price  Avg_Mileage
0             False   5.761988    17.576966
1              True  12.960686    18.652661